<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="jumbotron text-center">
    <h1>Spotify Playlist Generator</h1>
    <p class="lead">
      Always a pleasure scaffolding your apps.
    </p>
    <p>
      <a class="btn btn-lg" ng-class="loggedin ? 'btn-success' : 'btn-default'" ng-click="login()">Login with Spotify</a>
    </p>
    <p>
      <small>{{user}}</small>
    </p>
  </div>
  <form>
    <div class="form-group">
      <label for="name">Playlist Name</label>
      <input id="name" placeholder="My {{ playlistplaceholder }} Playlist" ng-model="playlist" class="form-control" >
    </div>
    <div class="form-group">
      <label for="search">Artist Search</label>
      <textarea id="search" placeholder="The Beatles" cols="30" rows="5" ng-model="searchartist" ng-change="updatePlaylistNamePlaceholder()" class="form-control" ></textarea>
      <span class="help-block">Enter each artist on a new line</span>
    </div>
    <div class="form-group">
      <label for="searchLimit">Return Result Limit</label>
      <input id="searchLimit" type="number" class="form-control" value="3" ng-model="searchlimit" >
    </div>
    <button type="submit" class="btn btn-default" ng-click="searchArtist()" ng-disabled="searchartist.trim().length == 0">Search Artists</button>
  </form>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Artist Search Results</h3>
      </div>

      <form class="panel-body">
        <div ng-repeat="query in queries" class="form-group">
        <h4 class="media-heading">{{query.q}}</h4>
        <div class="media" ng-repeat="artist in query.results.artists.items">
          <div class="media-left">
            <img class="media-object" ng-src="{{artist.images[0].url}}" alt="{{artist.name}}" style="width: 64px; height: 64px;">
          </div>
          <div class="media-body">
            <a class="media" ng-href="{{artist.external_urls.spotify}}" target="_blank">
              <input type="radio" value="{{artist.id}}" ng-model="query.selected">{{artist.name}}</input>
            </a>
          </div>
        </div>
        <hr/>
      </div>
      <button type="submit" class="btn btn-default" ng-click="getArtistTracks()" ng-disabled="queries.length == 0">Get Artist Tracks</button>
      </form>
    </div>
  </div>
  <div class="">
    <p>
      <ol class="list-group">
        <li class="list-group-item" ng-repeat="track in tracks">{{track.artists[0].name}} - <a href="{{track.external_urls.spotify}}">{{track.name}}</a></li>
      </ol>
    </p>
    <form>
      <button type="submit" class="btn btn-primary" ng-click="createPlaylist()" ng-disabled="!loggedin">Create Playlist <span class="badge">{{tracks.length}} Tracks</span></button>
    </form>
  </div>
  <hr>
</div>
<footer class="footer">
  <div class="container">
    <div class="progress">
      <progressbar class="progress-striped active" value="dynamic"></progressbar>
    </div>
  </div>
</footer>

