<div class="container">
  <div class="jumbotron text-center">
    <h1>Spotify Playlist Generator</h1>
  </div>
  <accordion close-others="oneAtATime">
    <accordion-group heading="Search for Artists" is-open="status[0]" is-disabled="status.isFirstDisabled">
      <div class="form-group">
        <label for="search">Enter Artist Names</label>
        <textarea id="search" placeholder="{{playlistplaceholder}}" cols="30" rows="5" ng-model="searchartist" class="form-control"></textarea>
        <span class="help-block">Enter each artist on a new line</span>
      </div>
      <div class="form-group">
        <label for="searchLimit">Number of Artist matches to return</label>
        <input id="searchLimit" type="number" class="form-control" value="3" ng-model="searchlimit" >
      </div>
      <button type="submit" class="btn btn btn-primary" ng-click="searchArtist(searchartist)" ng-disabled="searchartist.trim().length == 0">Search Artists</button>
    </accordion-group>
    <accordion-group heading="Add Artists to Playlist" is-open="status[1]" >
      <form class="panel-body">
        <div class="form-group">
          <label for="name">Playlist Name</label>
          <input id="name" placeholder="My {{ playlistplaceholder }} Playlist" ng-model="playlist" class="form-control" >
        </div>
        <button type="submit" class="btn btn btn-primary" ng-click="processPlaylist(playlist)" ng-disabled="queries.length == 0">Create Playlist</button>
        <hr />
        <div ng-repeat="query in queries" class="form-group list-group">
          <h5 class="media-heading">{{query.q}}</h5>
          <div class="list-group-item" ng-repeat="artist in query.results.artists.items">
            <div class="media-left">
              <img class="media-object" ng-src="{{artist.images[0].url}}" alt="{{artist.name}}" style="width: 64px; height: 64px;">
            </div>
            <div class="media-body">
              <p>
              <a class="media" ng-href="{{artist.external_urls.spotify}}" target="_blank">
                <input type="radio" value="{{artist.id}}" ng-model="query.selected"> {{artist.name}}</input>
              </a>
              </p>
            </div>
          </div>
        </div>
      </form>
    </accordion-group>
    <accordion-group heading="Track List" is-disabled="tracks.length == 0" >
      <div class="">
        <p>
          <ol class="list-group">
            <li class="list-group-item" ng-repeat="track in tracks">{{track.artists[0].name}} - <a href="{{track.external_urls.spotify}}">{{track.name}}</a></li>
          </ol>
        </p>
      </div>
    </accordion-group>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </accordion>


  </div>
<footer class="footer">
  <div class="container">
    <div class="progress">
      <progressbar class="progress-striped active" value="dynamic"></progressbar>
    </div>
  </div>
</footer>

